APP_DB__USER=postgres
APP_DB__PASSWORD=postgres
APP_DB__HOST=localhost
APP_DB__PORT=5432
APP_DB__NAME=postgres

DJANGO_SECRET_KEY=CHANGE_THIS_DJANGO_SECRET
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8010,http://127.0.0.1:8010
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
